.navigation {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 30px;
  z-index: 1000;
}

.navigation .logo-container {
  height: 85px;
  width: 200px;
  padding: 10px 10px;
}
img {
  height: 100%;
}

.navigation .nav-links ul {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 700;
  transition: 1s;
}
.navigation .nav-links ul li {
  margin: 0 15px;
  padding: 10px 0;
}
.navigation .nav-links ul li a {
  margin: 1rem;
  padding: 0.5rem;
  color: rgb(241, 237, 237);
}
.navigation .nav-links ul li:hover {
  transition: all 0.3s ease;
  background-color: #f46001;
  border-radius: 15px;

  color: #fff;
}

.navigation .nav-links ul li a:hover {
  color: #fff;
}

.icon {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 4rem;
  display: none;
  z-index: 10000;
  transition: 1s;
}
.icon #clearIcon {
  height: 40px;
  width: 40px;
}
.icon #menuIcon {
  height: 40px;
  width: 40px;
}

@media (max-width: 600px) {
  .nav-links {
    position: absolute;
    right: -300px;
    bottom: 0;
    display: none;
    height: 100vh;
    width: 300px;
    z-index: 100000000000000;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: 1s;
  }
  .active {
    position: absolute;
    right: 0px;
    display: block;
    transition: 1s;
    animation: nav;
    animation-duration: 2s;
  }
  .active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 18rem;
  }
  .active ul li {
    margin: 0.5rem;
    padding: 5px;
  }
  .icon {
    display: block;
    z-index: 10000000000000000000000000000000000;
  }
  .navigation .logo-container {
    height: 60px;
    width: 120px;
  }
}
@keyframes nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
