.leaflet {
  width: 100%;
  height: 100%;
}
.m-container {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  inset: 0;
  height: 125%;
  width: 100%;
  z-index: -111;
}
.book-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 125%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -2;
}
.book-form {
  width: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7em;
  background-color: white;
  border-radius: 10px;
}
.book-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;

  width: 70%;
  margin-left: 3rem;
}

.book-form form input {
  align-self: flex-start;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  margin: 0.5rem;
  padding: 20px;
  font-size: 15px;
  background-color: rgb(247, 234, 214);
  border: none;
}
.book-form form button {
  width: 40%;
  align-self: center;
  padding: 15px;
  margin-top: 20px;
  height: 45px;
  border-radius: 10px;
  background-color: rgb(10, 141, 32);
  color: rgb(248, 240, 240);
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  border: 0;
  justify-content: center;
  margin-left: -100px;
  margin-bottom: 20px;
}
.ModalMap {
  width: 60%;
  height: 80%;
  z-index: 100;
}
/* .ModalMap::before {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
} */
.LocationIcon {
  position: absolute;
}
.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.location .map-button {
  font-size: 15px;
  padding: 3px;
  /* position: relative;
  bottom: 1.2rem;
  right: 2rem; */
  margin-top: -0.3rem;

  width: 20%;
}
.drop-down {
  width: 75%;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  align-self: flex-start;
  margin-left: 8px;
  color: black;
}

.drop-down .drop-down-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  width: 100%;
  padding: 0 8px 5px 8px;
}

.drop-down .drop-down-header p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon1 {
  font-size: 25px;
  margin-top: 10px;

  color: #91a5be;

  transform: rotate(0deg);
  transition: all 1s ease;
}
.icon1.open {
  transform: rotate(90deg);
  transition: all 1s ease;
}
.drop-down-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: gray;
  border-top: 0.5px solid gray;
  margin-left: 6px;
  display: none;
  transition: all 1s ease;
}
.drop-down-body.open {
  display: block;
  transition: all 1s ease;
}
.drop-down-body .dot {
  margin: 7px;

  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}
.drop-down-body .dot.active {
  opacity: 1;
}
.parking-space {
  align-self: flex-start;
  color: green;
  margin-left: 1rem;
}
