.Modal {
  border-radius: 20px;
  padding: 30px;
  background: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: 100%;
  height: 100%;
}
.closeIcon {
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 24px;
  color: rgb(16, 144, 218);
  cursor: pointer;
}
